/******************************************************
  ICONS
 ******************************************************/
 .icn {
    &:before {
        content : '';
        display: inline-block;
        vertical-align: middle;
    }

    &.icn-bottom:before {
        vertical-align: bottom;
    }

    &.icn-top:before {
        vertical-align: top;
    }
}

/******************************************************
  GENERAL
 ******************************************************/
* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;

    font-family: 'Muller', sans-serif;
    color: #525252;
}

.wrapper {
    min-height: 100%;
    min-width: 300px;
}

/******************************************************
  MAIN STYLES
 ******************************************************/
.container {
    margin: 0 auto;
    padding: 0 15px;

    @include media(md) {
        width: 970px;
    }

    @include media(lg) {
        width: 1170px;
    }

    @include media(xlg) {
        width: 1290px;
    }
}
