@font-face {
    font-family: 'Muller';
    src: url('../fonts/fontfabric_-_mullerbold-webfont.woff2') format('woff2'),
         url('../fonts/fontfabric_-_mullerbold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/fontfabric_-_mullerbolditalic-webfont.woff2') format('woff2'),
         url('../fonts/fontfabric_-_mullerbolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/fontfabric_-_mullerregular-webfont.woff2') format('woff2'),
         url('../fonts/fontfabric_-_mullerregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/fontfabric_-_mullerregularitalic-webfont.woff2') format('woff2'),
         url('../fonts/fontfabric_-_mullerregularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
