.pluses {
    margin-bottom: 60px;
    padding-top: 80px;

    @include media(md) {
        margin-bottom: 100px;
    }
    @include media(lg) {
        margin-bottom: 140px;
        padding-top: 100px;
    }

    &__title {
        margin-bottom: 50px;

        text-align: center;

        color: $darkBlue;

        font-size: 30px;
        font-weight: bold;

        @include media(lg) {
            font-size: 36px;
        }
    }

    &__carousel {
        position: relative;

        @include media(sm) {
            display: none;
        }

        .owl-dots {
            position: absolute;
            right: 0;
            bottom: -25px;
            left: 0;

            display: flex;
            align-items: center;
            justify-content: center;

            .owl-dot {
                width: 10px;
                height: 10px;
                margin: 0 5px;

                border-radius: 50%;

                &:not(.active) {
                    background-color: $darkBlue;
                }

                &.active {
                    background-color: #EB3441;
                }
            }
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include media(xs) {
            display: none;
        }
    }

    &__item {
        position: relative;

        padding-top: 100px;

        @include media(sm) {
            flex: 0 0 30%;

            margin-bottom: 50px;
        }
        @include media(lg) {
            padding-top: 0;
            padding-left: 100px;
        }

        &-icon {
            position: absolute;
            top: 0;
            left: 0;

            @include media(xs) {
                width: 100%;

                text-align: center;
            }
        }

        &-title {
            margin-bottom: 15px;

            color: $darkBlue;

            font-size: 16px;
            font-weight: bold;

            @include media(xs) {
                text-align: center;
            }
        }

        &-text {
            font-size: 16px;

            @include media(xs) {
                text-align: center;
            }
        }
    }
}
